*.pyc
.DS_Store
.ipynb_checkpoints
requirements-tocheck.in
.idea
.env
text
previews
press-releases
data-rocrate*
*.sqlite
harvest-text.db
draft*.ipynb
*.ndjson
*.csv
Untitled*.ipynb
*.parquet
pp-text
.python-version