jupyterlab
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
pandas
requests
altair
jupyter-archive
beautifulsoup4
lxml
tqdm
requests_cache
ipywidgets
pyarrow
python-slugify